<div class="container">
  <div class="header">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigate('share-replay')">Share Replay</button>
      <button mat-menu-item (click)="navigate('with-latest-from')">With Latest From</button>
      <button mat-menu-item (click)="navigate('from-event')">From Event</button>
      <button mat-menu-item (click)="navigate('distinct-until-changed')">Distinct Until Changed</button>
    </mat-menu>
  </div>
  
  <router-outlet></router-outlet>
</div>

